/*body,h1,h2,p,dd,ol,ul{
	margin:0;padding:0;
}
*/
iframe{
    border:1px;
}
h1,h2,p,ul,ol{
	margin-bottom:1.5rem;
}

.action-link{
    font-family: Menlo,Monaco,"Andale Mono","lucida console","Courier New",monospace;
    font-size: 21px;
}

.content {
	font-family: "Trebuchet MS";
    font-size:16px;
	margin-left: 185px;
    width:65%;
    padding-top:20px;
    padding-left:20px;
}
.content-box{
    padding-top:20px;
    padding-left:20px;
    padding-right:20px;
    padding-bottom:20px;
    background-color: #eee;
    border-radius: 3px;
    border-bottom: 2px solid #ddd;
}

.body{
	line-height:1.625;
	font-weight:400;
	color:#555555;
	-webkit-text-size-adjust:100%;
}
h1,h2 {
	font-weight:600;
}


.text-center{
	text-align:center;
}

.embed-container{
	max-width:100%;vertical-align:middle;margin:3rem auto;
	position:relative;padding-bottom:56.25%;height:0;overflow:hidden;
	}
.embed-container iframe,.embed-container object,.embed-container embed{
	position:absolute;top:0;left:0;width:100%;height:100%;
}

.wrapper{
	/*max-width:-webkit-calc(800px - (3rem * 2));
	max-width:calc(800px - (3rem * 2));
	margin-right:auto;
	margin-left:auto;*/
	position:fixed;
	width:100%;
	padding-right:3rem;
	padding-left:3rem;
	background-color: white;
}

/*@media screen and (max-width: 800px) {
	.wrapper{
		max-width:-webkit-calc(800px - (3rem));
		max-width:calc(800px - (3rem));
		left:150px;
		padding-right:1.5rem;
		padding-left:1.5rem;
	}
}*/
.wrapper:after{
	content:"";
	display:table;
	clear:both;
}

.icon>svg{
	display:inline-block;
	width:1.6rem;
	height:1.6rem;
	vertical-align:middle;
}
.icon>svg path{
	fill:#4d4d4d;
}
.icon :hover{
	fill:red;
}

.mail-page{
	text-align: center;
}
.mail-page>img{
	display: block;
	margin:0 auto;

}
.articles{
	width: 20px;
}
.github{
	width: 20px;
}
.linkedin{
	width: 20px;
}

.post-item
{
	margin-bottom: 1rem;
	text-align: center;
	/*width: 100%;*/
}

.menu {
	/*background-image: url(http://www.rfa.co.za/rfa/images/flippingbook/abstract_background_blue.jpg);
  	background-size: cover;*/
  	font-family:Menlo,Monaco,"Andale Mono","lucida console","Courier New",monospace;
	font-size:18px;
  	position: fixed;
  	/**/
    line-height:30px;
    height:500px;
    width:185px;
    float:left;
    padding:20px;
    padding-left:25px; 
}
.menu>img{
	/*padding:1px;*/
	border:1px solid #021a40;
}
.menu :hover{
	color: #F5C817;
	text-decoration: underline;
}

a{
    color:#4d4d4d;
    text-decoration:none;
}

a code{
	color:#4d4d4d;
}

.site-header{
	min-height:5rem;
	position:relative;
}

.site-header .wrapper{
	border-bottom:1px 
	solid blue;
}

.site-title{
	font-weight:900;
}
.site-nav{
	float:left;
	line-height:5rem;
}
.site-nav-left :hover{
	color: green;
}
.action-link :hover{
	text-decoration: underline;
}

.projects{ 
    display: inline-block;
    float: left;
    padding-left:20px;
}

.projects>img{
	padding:1px;
	border:1px solid #021a40;
}

.proj-link:hover{
    color: #F5C817;
    text-decoration: underline;
}
.site-nav .page-link{
	color:#;
	line-height:1.625;
}
.site-nav .page-link:not(:first-child){
	margin-left:20px;
}
.site-nav-right{
    float:right;
    padding-right: 100px;
}
@media screen and (max-width: 800px) {.site-nav-right{display:none;}}
.site-footer{padding:0 0 2.25rem;margin:0;}
.page-content{padding:3rem 0;}
.page-heading{font-size:20px;}
